<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Work &amp Burp" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>

    <%- unless @lat %>
		<script>
		  getGeoLocation();
		</script>
	<%- end %>
	
 <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCxlxFZTUEUpSSLvsvWgtjLXsV5dZZH-CI&sensor=true">
    </script>
    <script type="text/javascript">
        var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;
var start = new google.maps.LatLng(41.86593, -87.64686);
var end = new google.maps.LatLng(41.88897, -87.63392);
var isHeatmap = true;


function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var chicago = new google.maps.LatLng(41.850033, -87.6500523);
        var mapOptions = {
                zoom:10,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: chicago
        }

        map = new
google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        directionsDisplay.setMap(map);
      </script>
      <style type="text/css">
      #map-canvas { 
      	width: 100%;
		height: 100%; 
		}
	   </style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>